<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Common" >

    <!--分页查询排序公用sql-->
    <sql id="sortSql">
        <if test="sortName != null">
            order by ${sortName}
            <choose>
                <when test="sortBy != null">
                    ${sortBy}
                </when>
                <otherwise>
                    asc
                </otherwise>
            </choose>
        </if>
        <if test="sortName == null">
            order by id asc
        </if>
    </sql>

</mapper>
