<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">  
<html>  
    <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">  
        <title>js_canvas_download</title>  
        <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>  
        <script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>  
    </head>  
    <body>  
        <div id="qrcode"></div>  
        <a id="download" download="qrcode.jpg"></a>  
        <button id="save">save</button>  
    </body>  
</html>  
<script>  
    jQuery('#qrcode').qrcode({width: 100,height: 100,text: "http://www.baidu.com"});  
      
    $("#save").click(function(){  
        var canvas = $('#qrcode').find("canvas").get(0);  
        var url = canvas.toDataURL('image/jpeg');  
        $("#download").attr('href', url).get(0).click();  
        return false;  
    });  
</script>  